select{padding: 0.5em; border: 1px solid #000;}
label{margin: 0 1em 0 0;}

/*----- GENERAL STYLES ------*/

@font-face {
    font-family: MyriadPro;
    src: url("../fonts/MyriadPro-Regular.otf");
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: MyriadPro;
    src: url("../fonts/MyriadPro-Bold.otf");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: MyriadPro;
    src: url("../fonts/MyriadPro-It.otf");
    font-weight: normal;
    font-style: italic;
}

body {
    font-family: MyriadPro,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.42857143;
    color: #333;
}
h1 {
    font-size: 2.6em;
}
h2 {
    font-size: 2.5em;
}
h3 {
    font-size: 1.9em;
}
h4 {
    font-size: 1em;
}
p {
    color: #676767;

}
a:link, a:visited {
    color: #0063a7;
}

/**** Highlight/Color ****/
.text-hl {
    color: #0063a7;
}
.text-lg {
    font-size: 110%;
    font-weight: bold;
}
/**** .container overrides ****/
.container {
    min-width: 320px;
}
@media screen and (min-width: 1200px) {
    .container {
        width: 70%;
    }
}

/*----- NAV STYLES -----*/
.navbar {
    z-index: 999;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 15px 0 15px;
    background: none;
    border: none;
}
.logo {
    width: 220px;
}
.logo img{
    width: 100%;
}
@media screen and (max-width: 992px) {
    .logo {
        max-width: 150px;
    }
}
.nav-links {
    margin-top: 15px;
    list-style: none;
}
.nav-links li{
    display: inline;
    margin-left: 25px;
}
.nav-links li a:link, .nav-links li a:visited {
    letter-spacing: 1px;
    color: #fff;
    font-size: .9em;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.nav-links li a:hover, .nav-links li a:active {
    text-decoration: none;
    color: #fff;
    border-bottom: 2px solid #fff;
}


/*----- MAIN STYLES -----*/

.hero {
    width: 100%;
    overflow: auto;
    position: relative;	
}

.hero .row:before {
    width: 50%;
    position: absolute;
    bottom:0;
    background: #fff;
    height: 20px;
    z-index: 99;
    left: 1px;
}

.slick-slider {
    margin-left: -15px;
    margin-right: -15px;
    overflow: hidden;
}

.slick-dots {
    position: absolute;
    z-index: 99;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    list-style-type: none;

}

.slick-dots li {
    margin-bottom: 6px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #fff;
}

.slick-dots li.slick-active {
    background: #fff;
}

.slick-dots li button {

    visibility: hidden;
}

.hero-slide-indicator li.active {
    background: #fff;

}
.hero > .row {
    margin-right: 0;
    background-size: cover!important;
}

.hero-text-container {
    min-height: 600px;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background: rgba(0,99,167,0.75);
    visibility: hidden;
    min-height: 600px;
    height: 95vh;
    display: flex;
}
.hero-textbox {
    padding: 0;
    color: #fff;
    border: 5px solid #fff;
    max-width: 550px;
    height: 340px;
    margin-left: -150px;
    box-sizing: border-box;
    visibility: hidden;
    z-index: 99;
}


.hero-welcome {
    width: 130px;
    height: 100%;
    float: left;
    background: rgba(255, 255,255,0.6);
    box-sizing: border-box;
    color: #333;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero-welcome p {
    width: 300px;
    font-weight: bold;
    position: relative;
    left: -100px;
    font-size: 0.95em;
    letter-spacing: .75px;
    color: #1c1c1c;
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.hero-text {
    float: left;
    padding-top: 70px;
    padding-left: 40px;

}
.hero-text h1 {
    margin-bottom: 30px;
}
.hero .text-lg {
    font-size: 125%;
}
.hero-text a {
    font-size: 1em;
    letter-spacing: 0.5px;
    color: #fff;
}
.hero-text a i {
    font-size: 1.2em;
    margin-right: 10px;
}
.hero .row{
    position: relative;
}

@media screen and (max-width: 993px) {
    .hero .row:before {
        visibility: hidden;
    }
    .hero-overlay {
        padding: 0 60px 0 30px;
    }
    .hero-welcome {
        width: 80px;
        background:  rgba(255, 255,255,0.4);
    }
    .hero-welcome p {
        color: #222;
        margin-left: -30px;

    }
    .hero-text-container {
        margin: 0 auto;
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .hero-text {
        padding-left: 20px;
    }
    .hero-text h1 {

        font-size: 1.8em;
    }
}


/* ----- SECTION HEADER STYLE ----- */
.page {
    position: absolute;
    left: 0;
    border-bottom: 1px solid #ccc;
    width: 150px;
}
@media screen and (max-width: 1200px) {
    .page {
        position: static;
        display: block;
        width: 100%;
        padding-bottom: 10px;
        margin-bottom: 30px;
    }
}
.page-text {
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: relative;
    top: -10px;
    left: 30px;
    color: #939393;
    font-size: 1.2em;
    letter-spacing: 1px;
    text-align: left;
    max-width: 400px;
    top: -133px;
    left: -100px;
}
@media screen and (max-width: 1200px) {
    .page-text {
        transform: rotate(0deg);	
        position: static;
        margin-bottom: 5px;
    }
}
.page-desc {
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: relative;
    width: 400px;
    top: -182px;
    left: -60px;
}
@media screen and (max-width: 1200px) {
    .page-desc {
        position: static;
        transform: rotate(0deg);
        display: inline;
    }
}
.about {
    padding: 100px 0;
    position: relative;
}
@media screen and (max-width: 993px) {
    .about {
        padding: 30px 0;
    }
}
.about .page {
    top: 200px;
}
.about-text p {
    margin-top: 25px;
    line-height: 22px;
    text-align: justify;
}


.products {
    position: relative;
    background: #222;
    color: #aaa;
}

.products > .container-fluid > .row:before {
    width: 50%;
    position: absolute;
    bottom:0;
    background: #fff;
    height: 20px;
    z-index: 99;
    left: 1px;
}
.prod-col-right {
    background: #222;
    margin-top: -20px;
    padding: 150px 15% 0 30px;
}
.prod-col-right > div{
    display: none;

}
.prod-col-left {
    padding-left: 15%;
    padding-top: 100px;
    padding-bottom: 40px;
    background: #0063a7;
}
@media screen and (max-width: 993px) {
    .prod-col-left, .prod-col-right { 
        padding: 30px 15px;
    }
    .products > .container-fluid > .row:before {
        visibility: hidden;
    }
}

.prod-col-right > div.active{
    display: block;
}
.products h2 {
    font-size: 	2em;
    margin: 0;
    margin-bottom: 5px;
}
.products h3 {
    font-size: 2.8em;
    font-weight: bold;
    color: #fff;
    margin: 0;
    margin-bottom: 20px;
}
.products h3 img {
    width: 40px;
    margin-top: -15px;
    margin-right: 15px;
}
.products p {
    color: #aaa;
    text-align: justify;
}
.prod-desc a {
    display: block;
    position: relative;
    margin-top: 20px;
    font-size: 0.85em;
    letter-spacing: 0.5px;
    color: #fff;
}
.prod-desc a i {
    color: #fff;
    font-size: 1.2em;
    margin-right: 10px;
}
.prod-image-wrapper {
    overflow: auto;
}
.prod-image {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding-right: 15px;
    opacity: 0.5;
}
.prod-image:hover {
    opacity: 1;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}
.prod-image.active {
    opacity: 1;
}

/*---------------*/
/***** Ming *****/
/*---------------*/
.grid {
    position: relative;
    clear: both;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    list-style: none;
    text-align: center;
}

/* Common style */
.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    width: 100%;
    height: auto;
    /*	background: #3085a3;*/
    text-align: center;
    cursor: pointer;
}
.grid figure img {
    position: relative;
    display: block;
    width: 100%;
    opacity: 0.8;
}
.grid figure figcaption {
    padding: 1em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}
.grid figure figcaption,
.grid figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h3 {
    opacity: 0;
    font-size: 1.2em;
    word-spacing: -0.15em;
    font-weight: 300;
}

.grid figure h3 span {
    font-weight: 800;
}

.grid figure h3,
.grid figure p {
    margin: 0;
}

.grid figure p {
    color: #fff;
    font-size: .75em;
}

.effect-ming {
    background: #030c17;
}

.effect-ming img {
    opacity: 0.9;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

.effect-ming figcaption::before {
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    border: 2px solid #fff;
    box-shadow: 0 0 0 30px rgba(255,255,255,0.2);
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale3d(1.4,1.4,1);
    transform: scale3d(1.4,1.4,1);
}

.effect-ming h3 {
    margin: 20% 0 10px 0;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

.effect-ming p {
    padding: 5px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

{
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

.effect-ming:hover figcaption::before, .effect-ming:hover h3,
.effect-ming:hover p {
    opacity: 1;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
}

.effect-ming:hover figcaption {
    background-color: rgba(58,52,42,0);
}

.effect-ming:hover img {
    opacity: 0.4;
}

.prod-controls {
    margin-top: 10px;
}
.prod-controls .pull-left {
    margin-left: -15px;
}
.prod-controls a {
    padding: 5px;
    border-bottom: 2px solid #fff;
}
.prod-controls a i{
    font-size: 1.2em;
    color: #fff;
}

.prod-desc h4 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: bold;
    letter-spacing: 1.5px;
}
.news {
    padding: 100px 0;
    position: relative;
}
@media screen and (max-width: 993px) {
    .news {
        padding: 30px 0;
    }
}
.news .page {
    top: 100px;
}
.news-date {
    position: relative;
    font-size: 0.9em;
    margin-top: 15px;
    font-weight: bold;
    margin-bottom: 30px;
}
.news-date:after {
    position: absolute;
    left: 0;
    bottom: -15px;
    content: "_";
    font-size: 1.75em;
    color: #0063a7;
}
.news-body h3 {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 30px;
}
.news-body a {
    font-size: 0.85em;
    letter-spacing: 0.5px;
}
.news-body a i {
    color: #676767;
    font-size: 1.2em;
    margin-right: 10px;
}
.service-area {
    padding: 100px 0;
    position: relative;
}
@media screen and (max-width: 993px) {
    .service-area {
        padding: 30px 0;
    }

}
.service-area .page {
    top: 320px;
}
.service-area-container > div {
    display: none;
}

.service-area-container > div.active {
    display: block;	
}
.service-area-control {
    text-align: center;
    white-space: nowrap;
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 20px 20px 0px 20px;
}
.service-area-control ul {
    list-style-type: none;
    margin-top: 30px;
    padding: 0;
}
.area-thumbnail {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
}
.area-thumbnail.active:after {
    content: "";
    height: 100px;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,99,167,0.5);
}
.service-area-control li {
    margin: 5px;
}
.service-area-control img {
    width: 100%;
}
@media screen and (max-width: 768px) {
    .service-area-control ul {
        margin-top: 0;
        margin-bottom: 40px;
    }
    .area-thumbnail {
        height: 70px;
    }
    .service-area-control li {
        padding: 2px;
    }
}

footer {
    background: #222;
    color: #fff;
    padding-bottom: 20px;
}
footer .row > div {
    margin-top: 30px;
}
footer img {
    margin-bottom: 15px;
    width: 100%;
    max-width: 250px;
}
footer small {
    display: block;
    font-size: 0.8em;
}
footer h4 {
    margin-top: 0;
    font-weight: bold;
}
footer ul {
    list-style-type: none;
    padding: 0;
}
footer p, footer li{
    color: #fff;
    font-size: 0.9em;
}

footer a:link,footer a:visited {
    color: #fff;
    font-size: 0.95em;
}


/*----- BLOG STYLES -----*/
.lead_header {
    background-size: cover;
    width: 100%;
    height: 100vh;
    max-height: 380px;
    min-height: 380px;
}
.lead_header > .row:before{
    width: 50%;
    position: absolute;
    bottom:0;
    background: #fff;
    height: 20px;
}
.lead-overlay {
    height: 100vh;
    max-height: 380px;
    min-height: 380px;
    background: rgba(0,99,167,0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.lead_header .row{
    position: relative;
}
.lead_header > .row {
    margin-right: 0;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
}
.lead-title {
	margin-right: 5em;
    margin-top: 13em;
    color: #000;
    text-align: right;
    float: right;
    text-transform: uppercase;
}
.lead-title ol{
	margin-right: 0;
}
.breadcrumb>li {
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
}
.breadcrumb>li+li:before {
    color: rgba(0, 0, 0, 1); 
    content: "\002F\00a0";
}
.breadcrumb {
	background-color: transparent;
}
.breadcrumb > li{
    color: #000;
    font-weight:600;
    font-size: 90%;
}
.news-container {
    margin-bottom: 3em;
    height: auto;
}
.news-container > .row{
	margin-right: 0;
    margin-top: 5em;
    margin-left: 0;
}
.news-item-date {
    margin-top: 3em;
	border-bottom: 1px solid #c0c0c0;
    justify-content: center;
    position: absolute;
    left: 0;
    min-width: 200px;
}
.news-text-date{
    text-align: right;
    margin-top: 2em;
}
.news-text-date h3>span{
    font-size: 100%;
    font-weight:bold;
    line-height: 30px;
    font-size: 120%;
}
.news-text-date p > span{
	color: #c0c0c0;
    letter-spacing: 4px;
    font-size: 90%;
}
.news .row {
    position: relative;
}
.news-info {
    font-size: 0.9em;
    margin-top: 15px;
    font-weight: bold;
}
.news-info span{
	margin-right: 20px;
}
.news-date {
    margin-right: 20px;
}
.news-body {
    position: relative;
    height: 250px;
}
.news-body h3 {
    font-weight: bold;
    line-height: 30px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.news-body a i{
    font-size: 1.2em;
    margin-right: 10px;
}
.news-body p{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}
.news-body a{
    position: absolute;
    left:    0;
    bottom:   0;
}
.newslist-summary {
	margin-top: 0.5em;
}
.filternews-container > .row{
	margin-right: 0;
}
.filternews-container {
	margin: 3em 3em 1em 3em;
}
.filter-news {
    position: absolute;
    right: 0;
}
.filter-news select{
	display: inline-block;
    width: 300px;
}
.news-pagination{
    font-size: 0.9em;
    color: #c0c0c0;
    margin: 0 auto;
    padding: 3em;
}
.news-pagination a, .news-pagination i{
	color: #c0c0c0;
    letter-spacing: 2px;
}
.news-pagination-step{
    font-size: 0.9em;
    color: #c0c0c0;
    margin: 0 auto;
    padding: 3em;
    width: 40%;
    border: 3px solid #c0c0c0;
}
.news-pagination-step a, .news-pagination-step i{
    color: #c0c0c0;
    letter-spacing: 2px;
}
.page-view {
	text-align: center;
}
.page-view a{
    color: #000;
    border: 1px solid #000;
    padding: 1px;
    margin: 0 5px 0 5px;
    font-size: 120%;
}
.back {float: left;}
.back i{margin-right:1em;}
.next {float: right;}
.next i{margin-left:1em;}
.news-pagination span:not(.current-page){
    font-size: 1.3em;
}
.pagenav-container {
	width: 100%;
    display: inline-block;
}
.pagination {
	margin: 0em;
}
.pagination ul{
    margin: 0px !important; 
    vertical-align: middle;
}
.pagination>li>a {
	border-radius: 0;
    color: #000;
    border: 1px solid #000;
    padding: 0.4em;
    position: relative;
    top: 50%;
    line-height: 1em;
    transform: translateY(-50%);
}
.pagination .active a {
    background-color: transparent;
    border: 3px solid #000;
    color: #000;
    cursor: default;
    font-weight: bold;
    padding: 0.3em;
}
.pagination>li:first-child>a, .pagination>li:first-child>span,
.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-radius: 0;
}
/**** RESPONSIVE LAYOUT ****/
@media screen and (max-width: 1490px) {
    .news-container {
        margin-bottom: 1em;
        height: auto;
    }
    .news-container > .row{
        margin-right: 0;
        margin-top: 1em;
    }
    .news-item-date {
        margin-top: 1em;
        margin-left: 1em;
        border: none;
        position: relative;
    }
    .news-text-date{
        text-align: left;
        margin-top: 2em;
    }
    .news-text-date h3>span{
        font-size: 100%;
        font-weight:bold;
        line-height: 30px;
        font-size: 120%;
    }
    .news-text-date p > span{
        color: #c0c0c0;
        letter-spacing: 4px;
        font-size: 90%;
    }
    .news-container .newsbody-item-date {
        margin-top: 1em;
        border-bottom: none;
        justify-content: center;
        position: relative;
        min-width: 250px;
    }
    .news-container .newsbody-text-date{
        text-align: left;
        margin: 1em 0 0 2.5em;
    }
    .news-container .small-date {
	   display: none;
    }
    .container .news-pagination{
        text-align: center;
    }
    .news-pagination .back, .news-pagination-step .back{
	   float: left;
    }
    .news-pagination .next, .news-pagination-step .next{
        float: right;
    }
    
}
@media screen and (max-width: 1024px) {
    .lead-title {
        margin-left: 3em;
        margin-right: 0em;
        margin-top: 13em;
        text-align: left;
        float: left;
    }
    .lead-overlay {
        display: none;
    }
    .hero-whitegap {
        display: none;
	}
    .filter-news{
        left: 0;
    }
    .news-pagination, .news-pagination-step{
        font-size: 0.9em;
        color: #c0c0c0;
        margin: 0 auto;
        padding: 3em;
        width: 100%;
    }
}
@media screen and (max-width: 1000px){
    .news-body a{
        padding-bottom: 2em;
    }
    .news-container > .row{
        margin-right: 0;
        margin-top: 1em;
        border-bottom: 1px solid #c0c0c0;
    }
    .news-pagination .pagination {
        display: none;
    }
    .news-pagination .back, .news-pagination-step .back{
	   float: left;
    }
    .news-pagination .next, .news-pagination-step .next{
        float: right;
    }
    .featnewslist {
	   margin-top: 5em;
    }
    .bg-blue>.partnership-sec{
	   float: none;
        width: 100%;
        text-align: center;
        padding: 2em 0 2em 0;
    }
    .about-sec-04 {
        margin-top: 1em;
        margin-bottom: 5em;
    }
    div.row.about-sec-03 {
        margin-top: 3em;
        border-bottom: 1px solid #c0c0c0;
        border-left: none;
        border-right: none;
        border-top: none;
    }
    .filter-news select{
        display: flex;
        width: auto;
    }
}

/**** News Article ****/
.newsbody span, .newsbody h3, .newsbody p{
    margin: 1.5em 0.5em 1em 0.5em;
}
.newsbody-item-date {
    margin-top: 3em;
    border-bottom: 1px solid #c0c0c0;
    justify-content: center;
    position: absolute;
    left: 0;
    min-width: 200px;
}
.newsbody-text-date{
    text-align: right;
    margin-top: 10em;
}
.newsbody-text-date h3 > span{
    font-size: 100%;
    font-weight:bold;
    line-height: 30px;
    font-size: 120%;
}
.newsbody-text-date p > span{
    color: #c0c0c0;
    letter-spacing: 4px;
    font-size: 90%;
}
.newsbody-info {
    font-size: 0.9em;
    margin-top: 15px;
    font-weight: bold;
}
.newsbody-info span{
    margin-right: 10px;
    margin-left: 1.5em;
}
.news-headline h3{
    margin: 1.5em 0.5em 1em 0.5em;
    font-weight: 600;
    line-height: 30px;
}
.newsbody img{
	margin-bottom: 3em;
}
.newsbody-story {
	position: relative;
    text-align: justify;
}
.newsbody-story p{
    line-height: 24px;
    margin: 24px 0;
}
.newsbody-story img{
    float: right;
    margin: 2em 0em 2em 2em;
}
.newsbody-quote {
    margin-top: 5em;
    width: 100%;
}
.newsbody-quote p {
    margin: 0 auto 0.1em auto;
    font-style: italic;
    font-size: 1.5em;
    width: 80%;
    text-align: center;
}
.newsbody-quote .author{
	font-size: 60%;
    font-style: normal;
    font-weight:  bold;
    color: #000;
}
.newsbody-quote i{
	padding-right: 0.5em;
    color: #000;
    line-height: 30px;
    margin: 24px 0;
}
.featnews-date {
	font-weight: bold;
    margin: 1em 0 1em 0;
}
.featnews h4{
	font-weight: 600;
    font-size: 140%;
    margin: 1em 0 1em 0;
}
.featnews p{
    margin: 1em 0 1em 0;
    font-size: 90%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.featnews h3{
    font-weight: bold;
    margin: 1em 0 1em 0.5em;
    color: #0162a6;
}
.featnews {
	margin: 3em 0 3em 0;
}
.featnews i{
	margin-right: 0.5em;
    color: #2e2e2e;
}

/**** About Section ****/
.about-sec-01 {
	margin: 6em 0 3em 0;
}
.about-sec-01 h3{
	text-transform: uppercase;
    font-size: 150%;
    font-weight: bold;
}
.about-sec-01 h2{
    font-weight: bold;
    color: #0162a6;
}
.about-sec-02 h3{
	font-weight: bold;
    color: #0162a6;
}
.about-sec-04 {
    margin-top: 3em;
    margin-bottom: 5em;
    margin-right: 0;
}
.about-sec-04 h3{
    font-weight: bold;
    color: #0162a6;
}
.about-sec-03 {
    margin-top: 3em;
    border: 2px solid #000;
}
.partnership-sec {
	width: 60%;
    float: right;
    padding: 8em 0 8em 0;
}
.partnership-sec h2, .partnership-sec p{
	color: #fff;
}
.partnership-sec h2{
    font-weight: bold;
}
.bg-blue {
    background-color: #0162a6;
    overflow: auto;
}
.partnership-image-box>.row {
    padding: 1em;
}
div.row.about-sec-02{
    margin: 0;
}

/**** SERVICE AREA ****/
.service-sec-01 {
	margin: 5em 0 5em 0;
}
.service-sec-01 h3{
    font-weight: bold;
    color: #0162a6;
}
.service-lead {
	margin: 3em 0 3em 0;
}
.service-lead p{
	color: #000;
}
.service-area-desc {
	text-align: center;
}
.service-area-desc h3{
	font-weight:  bold;
    font-size: 130%;
}
.service-area-desc .text-lg {
	font-size: 150%;
} 