select{padding: 0.5em; border: 1px solid #000;}
label{margin: 0 1em 0 0;}

/*----- GENERAL STYLES ------*/

@font-face {
    font-family: MyriadPro;
    src: url("../fonts/MyriadPro-Regular.otf");
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: MyriadPro;
    src: url("../fonts/MyriadPro-Bold.otf");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: MyriadPro;
    src: url("../fonts/MyriadPro-It.otf");
    font-weight: normal;
    font-style: italic;
}

body {
    font-family: MyriadPro,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.42857143;
    color: #333;
    background-color: #000;
    position: relative;
}
h1 {
    font-size: 2.6em;
}
h2 {
    font-size: 2.5em;
}
h3 {
    font-size: 1.9em;
}
h4 {
    font-size: 1em;
}
p {
    color: #676767;
}
@media screen and (max-width: 993px) {
    body {
        font-size: 14px;
    }
    h2 {
        1.8em;
    }
    h3 {
        font-size: 1.5em;
    }
}
a:link, a:visited {
    color: #0063a7;
}

/**** Highlight/Color ****/
.text-hl {
    color: #0063a7;
}
.text-lg {
    font-size: 110%;
    font-weight: bold;
}
/**** .container overrides ****/
.container {
    min-width: 320px;
}
@media screen and (min-width: 1200px) {
    .container {
        width: 70%;
    }
}

/*** W3C Offcanvas Navigation***/
#header {
	position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    padding-bottom: 20px;
    transition: background-color 200ms linear;
}
#main{
    background-color: #fff;
}
.sidenav img {
    float: left;
    margin-left: 2em;
}
.main-menu-bar {
	display: none;
}
.main-nav {
    list-style: none;
    float: right;
    margin: 40px 20px 0 0;
}
.main-nav a{
    display: inline;
    margin-left: 25px;
}
.main-nav a:link, .main-nav a:visited {
    position: relative;
    letter-spacing: 1px;
    color: #fff;
    font-size: .9em;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.main-nav a:hover, .main-nav a:active{
    text-decoration: none;
    color: #fff;
}
.main-nav a:hover:before{
    content: "_";
    font-size: 2em;
    font-weight: bold;
    position: absolute;
    top: -35px;
}
.sidenav a{
    color: #fff;
    text-transform: uppercase;
}
.sidenav .closebtn{
	visibility: hidden;
}
@media screen and (max-width: 993px) {
    .main-menu-bar {
        position: fixed;
        display: block;
        right: 0;
        margin: 1em;
        color: #fff;
        z-index: 998;
        background-color: #222;
        padding: 5px 10px 2px 10px;
    }
    .sidenav {
        height: 100%;
        width: 230px;
        position: fixed;
        z-index: 999;
        top: 0;
        right: -250px;
        background-color: #222;
        overflow-x: hidden;
        padding-top: 4em;
        visibility: visible;
        display: block;
    }
    .sidenav-content .main-nav a {
        margin-top: 15px;
        margin-bottom: 15px;
        text-decoration: none;
        font-size: 16px;
        color: #fff;
        display: block;
        transition: 0.3s;
        border-bottom: 1px solid #333;
    }
    .main-nav {
	   float: none;
        margin: 0 0 0 0;
    }
    .main-nav a{
        margin-left: 0px;
        padding-left: 20px;
    }
    .main-nav a:hover:before{
        content: "";
    }
    .sidenav-content a:hover, .offcanvas a:focus{
        color: #f1f1f1;
    }
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 15px;
        font-size: 36px;
        margin-left: 50px;
        visibility: visible;
        border: none;
    }
}
/*** End Here ***/


/*----- NAV STYLES -----*/
.navbar {
    z-index: 999;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 15px 15px 15px;
    border-radius: 0;
    background: none;
    transition: background-color 200ms linear;
    border: none;
}
.navbar.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
}
.logo {
    float: left;
    padding: 20px 0 0 20px;
    width: 220px;
}
.logo img{
    width: 100%;
}
.nav>li>a{
    padding: 0;
}
@media screen and (max-width: 992px) {
    .logo {
        max-width: 150px;
    }
}
.navbar-toggle {
    border: none;
    margin: 0;
}
.navbar-toggle .icon-bar {
    height: 4px;
    width: 30px;
}
.nav-links {
    margin-top: 15px;
    list-style: none;
}
.nav-links li{
    display: inline;
    margin-left: 25px;
}
.nav-links li a:link, .nav-links li a:visited {
    position: relative;
    letter-spacing: 1px;
    color: #fff;
    font-size: .9em;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.nav-links li a:hover, .nav-links li a:active{
    text-decoration: none;
    color: #fff;
}
.nav-links li a:hover:before{
    content: "_";
    font-size: 2em;
    font-weight: bold;
    position: absolute;
    top: -35px;

}
@media screen and (max-width: 1100px){
    .nav-links{
        display: block;
    }
    .nav>li>a{
        padding: 0;
    }
}

/*----- MAIN STYLES -----*/

.hero {
    position: relative;
    width: 100%;
}
.hero .row {
    margin: 0;
    padding: 0;
}
.hero .row:before {
    width: 50%;
    position: absolute;
    bottom:0;
    background: #fff;
    height: 20px;
    z-index: 99;
    left: 1px;
}
.slick-dots {
    position: absolute;
    z-index: 99;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    list-style-type: none;
    padding: 0;
}

.slick-dots li {
    margin-bottom: 6px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #fff;
}
.slick-dots li.slick-active {
    background: #fff;
}
@media screen and (max-width: 993px) {
    .slick-dots {
        top: auto;
        bottom: 0;
        transform: none;
        right: 18px;
    }
    .slick-dots li {
        width: 8px;
        height: 8px;
    }
}
.slick-dots li button {
    visibility: hidden;
}
.slide-item {
    background-size: cover !important;
    background-position: center top!important;
    min-height: 500px;
    height: 90vh;
    position: relative;
}
.hero-overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: rgba(0,99,167,0.75);
    z-index: 0;
}

.hero-text-container {
    width: 50%;
    float: right;
    min-height: 500px;
    height: 90vh;
    z-index: 99;
}
.hero-textbox {
    color: #fff;
    border: 5px solid #fff;
    max-width: 550px;
    height: 340px;
    margin-left: -135px;
    box-sizing: border-box;
    visibility: hidden;
    position: absolute;
    top: 50%;
    margin-top: -170px;
}


.hero-text-left {
    width: 130px;
    height: 100%;
    float: left;
    background: rgba(255, 255,255,0.6);
    box-sizing: border-box;
    color: #333;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero-text-left p {
    width: 300px;
    font-weight: bold;
    position: relative;
    left: -100px;
    font-size: 0.95em;
    letter-spacing: .75px;
    color: #1c1c1c;
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    text-align: center;
}
.hero-text {
    float: left;
    padding: 40px;

}
.hero-text h1 {
    margin-bottom: 30px;
}
.hero .text-lg {
    font-size: 125%;
}
.hero-text a {
    font-size: 1em;
    letter-spacing: 0.5px;
    color: #fff;
}
.hero-text a i {
    font-size: 1.2em;
    margin-right: 10px;
}

@media screen and (max-width: 993px) {
    .hero .row:before {
        visibility: hidden;
        left: auto;
        right: 0;
    }
    .slide-item {
        height: 50vh;
        min-height: 250px;
    }
    .hero-overlay {
        width: 100%;
        background: -webkit-linear-gradient(rgba(255,255,255,0.25), rgba(0,99,167,0.75));
        background: -o-linear-gradient(rgba(255,255,255,0.25), rgba(0,99,167,0.75));
        background: linear-gradient(rgba(255,255,255,0.25), rgba(0,99,167,0.75));
    }
    .hero-text-container {
        width: 100%;
    }
    .hero-textbox {
        margin: 0;
        top: auto;
        bottom: 0;
        height: auto;
        border: none;
        width: 100%;
    }

    .hero-text-left {
        display: none;
    }
    .hero-text {
        padding: 0 15px 15px 20px;
    }
    .hero-text h1 {
        margin: 0;
    }
}

@media screen and (max-width: 500px) {
    .hero-text h1 {

        font-size: 1.8em;
    }
}


/* ----- SECTION HEADER STYLE ----- */
.page {
    position: absolute;
    left: 0;
    border-bottom: 1px solid #ccc;
    width: 150px;
}
@media screen and (max-width: 1200px) {
    .page {
        position: static;
        display: block;
        width: 100%;
        padding-bottom: 10px;
        margin-bottom: 30px;
    }
}
.page-text {
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: relative;
    top: -10px;
    left: 30px;
    color: #939393;
    font-size: 1.2em;
    letter-spacing: 1px;
    text-align: left;
    max-width: 400px;
    top: -133px;
    left: -100px;
}
@media screen and (max-width: 1200px) {
    .page-text {
        transform: rotate(0deg);	
        position: static;
        margin-bottom: 5px;
    }
}
.page-desc {
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: relative;
    width: 400px;
    top: -182px;
    left: -60px;
}
@media screen and (max-width: 1200px) {
    .page-desc {
        position: static;
        transform: rotate(0deg);
        display: inline;
        top: 0px;
        left: 0px;
    }
}
@media screen and (max-width: 993px) {
    .page-desc {
        font-size: 2em;
    }
}
.about {
    padding: 100px 0;
    position: relative;
}
@media screen and (max-width: 993px) {
    .about {
        padding: 30px 0;
    }
}
.about .page {
    top: 200px;
}
.about-text p {
    margin-top: 25px;
    line-height: 22px;
    text-align: justify;
}


.products {
    position: relative;
    background: #222;
    color: #aaa;
}

.products > .container-fluid > .row:before {
    width: 50%;
    position: absolute;
    bottom:0;
    background: #fff;
    height: 20px;
    z-index: 99;
    left: 1px;
}
.prod-col-right {
    width: 50%;
    box-sizing: border-box;
    background: #222;
    margin-top: -20px;
    padding: 150px 15% 0 30px;
    float: right;
}
.prod-col-right > div{
    display: none;

}
.prod-col-left {
    width: 50%;
    box-sizing: border-box;
    float: left;
    padding-left: 15%;
    padding-top: 100px;
    padding-bottom: 40px;
    background: #0063a7;
}
@media screen and (max-width: 993px) {
    .prod-col-left, .prod-col-right { 
        padding: 30px 15px;
        width: 100%;
    }
    .prod-col-left {
        padding-top: 70px;
    }
    .products > .container-fluid > .row:before {
        visibility: hidden;
    }
}

.prod-col-right > div.active{
    display: block;
}
.products h2 {
    font-size:	2em;
    margin: 0;
    margin-bottom: 5px;
}

.products h3 {
    font-size: 2.8em;
    font-weight: bold;
    color: #fff;
    margin: 0;
    margin-bottom: 20px;
}

.products h3 img {
    width: 40px;
    margin-top: -15px;
    margin-right: 15px;
}
@media screen and (max-width: 993px) {
    .products h2 {
        color: #fff;
        position: absolute;
        top: 25px;
    }
    .products h3 {
        font-size: 2.2em;
    }
}
.products p {
    color: #aaa;
    text-align: justify;
}
.prod-desc a {
    display: block;
    position: relative;
    margin-top: 20px;
    font-size: 0.85em;
    letter-spacing: 0.5px;
    color: #fff;
}
.prod-desc a i {
    color: #fff;
    font-size: 1.2em;
    margin-right: 10px;
}
.prod-image-wrapper {
    overflow: auto;
}
.prod-image {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding-right: 15px;
    opacity: 0.5;
}
.prod-image:hover {
    opacity: 1;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}
.prod-image.active {
    opacity: 1;
}

/*---------------*/
/***** Ming *****/
/*---------------*/
.grid {
    position: relative;
    clear: both;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    list-style: none;
    text-align: center;
}

/* Common style */
.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    width: 100%;
    height: auto;
    /*	background: #3085a3;*/
    text-align: center;
    cursor: pointer;
}
.grid figure img {
    position: relative;
    display: block;
    width: 100%;
    opacity: 0.8;
}
.grid figure figcaption {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.prod-hover-text {
    text-align: center;
}
.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}
.grid figure figcaption,
.grid figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h3 {
    opacity: 0;
    font-size: 1em;
    word-spacing: -0.15em;
    font-weight: bold;
    letter-spacing: 2px;
}

.grid figure h3,
.grid figure p {
    display: block;
}

.grid figure p {
    color: #fff;
    font-size: .75em;
    letter-spacing: 1px;

}

.effect-ming {
    background: #030c17;
}

.effect-ming img {
    opacity: 0.9;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

.effect-ming figcaption::before {
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    border: 2px solid #fff;
    box-shadow: 0 0 0 30px rgba(255,255,255,0.2);
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale3d(1.4,1.4,1);
    transform: scale3d(1.4,1.4,1);
}

.effect-ming h3 {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

.effect-ming p {
    padding: 5px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.effect-ming:hover figcaption::before, .effect-ming:hover h3,
.effect-ming:hover p {
    opacity: 1;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
}

.effect-ming:hover figcaption {
    background-color: rgba(58,52,42,0);
}

.effect-ming:hover img {
    opacity: 0.4;
}

.prod-controls {
    margin-top: 10px;
}
.prod-controls .pull-left {
    margin-left: -15px;
}
.prod-controls a {
    padding: 5px;
    border-bottom: 2px solid #fff;
}
.prod-controls a i{
    font-size: 1.2em;
    color: #fff;
}

.prod-desc h4 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: bold;
    letter-spacing: 1.5px;
}
.news {
    padding: 100px 0;
    position: relative;
}
@media screen and (max-width: 993px) {
    .news {
        padding: 30px 0;
    }
}
.news .page {
    top: 100px;
}
.news-date {
    position: relative;
    font-size: 0.9em;
    margin-top: 15px;
    font-weight: bold;
    margin-bottom: 30px;
}
.news-date:after {
    position: absolute;
    left: 0;
    bottom: -15px;
    content: "_";
    font-size: 1.75em;
    color: #0063a7;
}
.news-body h3 {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 30px;
}
.news-body a {
    font-size: 0.85em;
    letter-spacing: 0.5px;
}
.news-body a i {
    color: #676767;
    font-size: 1.2em;
    margin-right: 10px;
}
.service-area {
    padding: 100px 0;
    position: relative;
}
@media screen and (max-width: 993px) {
    .service-area {
        padding: 30px 0;
    }
    .service-area h3 {
        font-size: 1.4em;
    }
}
.service-area .page {
    top: 320px;
}
.service-area-container > div {
    display: none;
}

#map {
    height: 400px;
    width: 100%;
}

@media screen and (max-width: 993px) {
    #map {
        height: 300px;
    }
}
.service-area-container > div.active {
    display: block;	
}
.service-area-container p {
    text-align: center;
}
.service-area-control {
    text-align: center;
    white-space: nowrap;
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 20px 20px 0px 20px;
}
.service-area-control ul {
    list-style-type: none;
    margin-top: 30px;
    padding: 0;
}
.area-thumbnail {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
}
.area-thumbnail.active:after {
    content: "";
    height: 100px;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,99,167,0.5);
}
.service-area-control li {
    margin: 5px;
}
.service-area-control img {
    width: 100%;
}
@media screen and (max-width: 768px) {
    .service-area-control ul {
        margin-top: 0;
        margin-bottom: 40px;
    }
    .service-area-control li {
        margin: 2px;
    }
    .area-thumbnail {
        height: 50px;
        width: 50px;
    }
    .area-thumbnail.active:after {
        height: 50px;
    }
    .service-area-control li {
        padding: 2px;
    }
}

footer {
    position: relative;
    background: #222;
    color: #fff;
    padding-bottom: 20px;
}
#sitemap-bg {
    display: none;
    height: 60px;
    width: 60px;
    left: 50%;
    margin-left: -30px;
    position: absolute;
    top: -30px;
    background: #222;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-top-left-radius: 15px;
}
#sitemap-toggle {
    display: none;
    width: 100px;
    height: 50px;
    position: absolute;
    margin-left: -50px;
    left: 50%;
    top: -30px;
    text-align: center;
    font-size: .75em;
    letter-spacing: 1px;
}

footer .row > div {
    padding-top: 30px;
}
footer img {
    margin-bottom: 15px;
    width: 100%;
    max-width: 250px;
}
footer h4 {
    margin-top: 0;
    font-weight: bold;
}
footer ul {
    list-style-type: none;
    padding: 0;
}
footer p, footer li{
    color: #fff;
    font-size: 0.9em;
    margin: 0;
}
footer a:link,footer a:visited {
    color: #fff;
}
.footer-social {
    border-top: 1px solid #777;
    width: 75%;
    margin: 0 auto;
    margin-top: 20px;
    padding-top: 20px;
    text-align: center;
}
.footer-social img{
    width: 30px;
}
@media screen and (max-width: 993px) {
    #sitemap-bg, #sitemap-toggle {
        display: block;
        transition: all 0.3ms;
    }
    #sitemap-links {
        width: 100%;
        margin: 0 -15px;
        position: absolute;
        z-index: 9px;
        box-sizing: border-box;
        padding: 20px;
        height: 150px;
        background: #222;
    }
    footer .row {
        padding: 15px;
        display: flex;
        flex-wrap: wrap;
    }
    footer .row > div.col-xs-6 {
        background: #222;
        padding: 20px 0 0 10px;
        z-index: 99;
        float: left;
        display: flex;
        flex-direction: column;
    }
    footer li, footer p {
        font-size: 0.85em;
    }
    .col-center {
        width: 100%;
        margin-top: -1px;
        background: #222;
        text-align: center;
    }
}



/*----- BLOG STYLES -----*/
.lead_header {
    background-size: cover;
    width: 100%;
    height: 100vh;
    max-height: 380px;
    min-height: 380px;
}
.lead_header > .row:before{
    width: 50%;
    position: absolute;
    bottom:0;
    background: #fff;
    height: 20px;
}
.lead-overlay {
    height: 100vh;
    max-height: 380px;
    min-height: 380px;
    background: rgba(0,99,167,0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.lead_header .row{
    position: relative;
}
.lead_header > .row {
    margin-right: 0;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
}
.lead-title {
	margin-right: 5em;
    margin-top: 13em;
    color: #000;
    text-align: right;
    float: right;
    text-transform: uppercase;
}
ol.breadcrumb{
	margin-right: 0;
}
.breadcrumb>li {
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
}
.breadcrumb>li+li:before {
    color: rgba(0, 0, 0, 1); 
    content: "\002F\00a0";
}
.breadcrumb {
	background-color: transparent;
}
.breadcrumb > li{
    color: #000;
    font-weight:600;
    font-size: 90%;
}
.news-container {
    margin-bottom: 3em;
    height: auto;
}
.news-container > .row{
	margin-right: 0;
    margin-top: 5em;
    margin-left: 0;
}
.news-item-date {
    margin-top: 3em;
	border-bottom: 1px solid #c0c0c0;
    justify-content: center;
    position: absolute;
    left: 0;
    min-width: 200px;
}
.news-text-date{
    text-align: right;
    margin-top: 2em;
}
.news-text-date h3>span{
    font-size: 100%;
    font-weight:bold;
    line-height: 30px;
    font-size: 120%;
}
.news-text-date p > span{
	color: #c0c0c0;
    letter-spacing: 4px;
    font-size: 90%;
}
.news .row {
    position: relative;
}
.news-info {
    font-size: 0.9em;
    margin-top: 15px;
    font-weight: bold;
}
.news-info span{
	margin-right: 20px;
}
.news-date {
    margin-right: 20px;
}
.news-body {
    position: relative;
    height: 250px;
}
.news-body h3 {
    font-weight: bold;
    line-height: 30px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.news-body a i{
    font-size: 1.2em;
    margin-right: 10px;
}
.news-body p{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}
.news-body a{
    position: absolute;
    left:    0;
    bottom:   0;
}
.newslist-summary {
	margin-top: 0.5em;
}
.filternews-container > .row{
	margin-right: 0;
}
.filternews-container {
	margin: 3em 3em 1em 3em;
}
.filter-news {
    position: absolute;
    right: 0;
}
.filter-news select{
	display: inline-block;
    width: 300px;
}
.news-pagination{
    font-size: 0.9em;
    color: #c0c0c0;
    margin: 0 auto;
    padding: 3em;
}
.news-pagination a, .news-pagination i{
	color: #c0c0c0;
    letter-spacing: 2px;
}
.news-pagination-step{
    font-size: 0.9em;
    color: #c0c0c0;
    margin: 0 auto;
    padding: 3em;
    width: 40%;
    border: 3px solid #c0c0c0;
}
.news-pagination-step a, .news-pagination-step i{
    color: #c0c0c0;
    letter-spacing: 2px;
}
.page-view {
	text-align: center;
}
.page-view a{
    color: #000;
    border: 1px solid #000;
    padding: 1px;
    margin: 0 5px 0 5px;
    font-size: 120%;
}
.back {float: left;}
.back i{margin-right:1em;}
.next {float: right;}
.next i{margin-left:1em;}
.news-pagination span:not(.current-page){
    font-size: 1.3em;
}
.pagenav-container {
	width: 100%;
    display: inline-block;
}
.pagination {
	margin: 0em;
}
.pagination ul{
    margin: 0px !important; 
    vertical-align: middle;
}
.pagination>li>a {
	border-radius: 0;
    color: #000;
    border: 1px solid #000;
    padding: 0.4em;
    position: relative;
    top: 50%;
    line-height: 1em;
    transform: translateY(-50%);
}
.pagination .active a {
    background-color: transparent;
    border: 3px solid #000;
    color: #000;
    cursor: default;
    font-weight: bold;
    padding: 0.3em;
}
.pagination>li:first-child>a, .pagination>li:first-child>span,
.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-radius: 0;
}
/**** NEWS RESPONSIVE LAYOUT ****/
@media screen and (max-width: 1490px) {
    .news-container {
        margin-bottom: 1em;
        height: auto;
    }
    .news-container > .row{
        margin-right: 0;
        margin-top: 1em;
    }
    .news-item-date {
        margin-top: 1em;
        margin-left: 1em;
        border: none;
        position: relative;
    }
    .news-text-date{
        text-align: left;
        margin-top: 2em;
    }
    .news-text-date h3>span{
        font-size: 100%;
        font-weight:bold;
        line-height: 30px;
        font-size: 120%;
    }
    .news-text-date p > span{
        color: #c0c0c0;
        letter-spacing: 4px;
        font-size: 90%;
    }
    .news-container .newsbody-item-date {
        margin-top: 1em;
        border-bottom: none;
        justify-content: center;
        position: relative;
        min-width: 250px;
    }
    .news-container .newsbody-text-date{
        text-align: left;
        margin: 1em 0 0 2.5em;
    }
    .news-container .small-date {
	   display: none;
    }
    .container .news-pagination{
        text-align: center;
        position: relative;
    }
    .news-pagination .back, .news-pagination-step .back{
	   float: left;
    }
    .news-pagination .next, .news-pagination-step .next{
        float: right;
    }
    
}
@media screen and (max-width: 1024px) {
    .lead-title {
        margin-left: 3em;
        margin-right: 0em;
        margin-top: 13em;
        text-align: left;
        float: left;
    }
    .lead-overlay {
        display: none;
    }
    .hero-whitegap {
        display: none;
	}
    .filter-news{
        left: 0;
    }
    .news-pagination, .news-pagination-step{
        font-size: 0.9em;
        color: #c0c0c0;
        margin: 0 auto;
        width: 100%;
        margin-bottom: 2em;
    }
}
@media screen and (max-width: 1000px){
    .news-body a{
        padding-bottom: 2em;
    }
    .news-container {
	   margin-top: 5em;
    }
    .news-container > .row{
        margin-right: 0;
        margin-top: 1em;
        border-bottom: 1px solid #c0c0c0;
    }
    .news-pagination .pagination {
        display: none;
    }
    .news-pagination .back, .news-pagination-step .back{
	   float: left;
    }
    .news-pagination .next, .news-pagination-step .next{
        float: right;
    }
    .featnewslist {
	   margin-top: 5em;
    }
    .bg-blue>.partnership-sec{
	   float: none;
        width: 100%;
        text-align: center;
        padding: 2em 0 2em 0;
    }
    .about-sec-04 {
        margin-top: 1em;
        margin-bottom: 5em;
    }
    div.row.about-sec-03 {
        margin-top: 3em;
        border-bottom: 1px solid #c0c0c0;
        border-left: none;
        border-right: none;
        border-top: none;
    }
}
@media screen and (max-width: 320px){
    .filter-news select{
        display: flex;
        width: 100%;
    } 
}
@media screen and (max-width: 375px){
    .news-pagination a{
        padding-top: 4em;
    }
    .news-pagination .pagination-text{
        display: none;
    }
    .news-pagination i{
        font-size: 1em;
    }
    .news-pagination .next::before{
        content: 'NEW POST';
        font-size: 1em;
    }
    .news-pagination .back::after{
        content: 'OLD POST';
        font-size: 1em;
    }
    .news-pagination .pagination{
        display: inline-block;
        width: 100%;
        position: absolute;
        left: 0;
        top: 20px;
    }
}
@media screen and (max-width: 993px){
    .text-lg {
	   font-size: 90%;
    }
    .service-area-desc h3{
        font-weight:  bold;
        font-size: 100%;
    }
    .news-text-date h3>span{
        font-weight:bold;
        line-height: 30px;
        font-size: 90%;
    }
}
/**** News Article ****/
.newsbody span, .newsbody h3, .newsbody p{
    margin: 1.5em 0.5em 1em 0.5em;
}
.newsbody-item-date {
    margin-top: 3em;
    border-bottom: 1px solid #c0c0c0;
    justify-content: center;
    position: absolute;
    left: 0;
    min-width: 200px;
}
.newsbody-text-date{
    text-align: right;
    margin-top: 10em;
}
.newsbody-text-date h3 > span{
    font-size: 100%;
    font-weight:bold;
    line-height: 30px;
    font-size: 120%;
}
.newsbody-text-date p > span{
    color: #c0c0c0;
    letter-spacing: 4px;
    font-size: 90%;
}
.newsbody-info {
    font-size: 0.9em;
    margin-top: 15px;
    font-weight: bold;
}
.newsbody-info span{
    margin-right: 10px;
    margin-left: 1.5em;
}
.news-headline h3{
    margin: 1.5em 0.5em 1em 0.5em;
    font-weight: 600;
    line-height: 30px;
}
.newsbody img{
	margin-bottom: 3em;
}
.newsbody-story {
	position: relative;
    text-align: justify;
}
.newsbody-story p{
    line-height: 24px;
    margin: 24px 0;
}
.newsbody-story img{
    float: right;
    margin: 2em 0em 2em 2em;
}
.newsbody-quote {
    margin-top: 5em;
    width: 100%;
}
.newsbody-quote p {
    margin: 0 auto 0.1em auto;
    font-style: italic;
    font-size: 1.5em;
    width: 80%;
    text-align: center;
}
.newsbody-quote .author{
	font-size: 60%;
    font-style: normal;
    font-weight:  bold;
    color: #000;
}
.newsbody-quote i{
	padding-right: 0.5em;
    color: #000;
    line-height: 30px;
    margin: 24px 0;
}
.featnews-date {
	font-weight: bold;
    margin: 1em 0 1em 0;
}
.featnews h4{
	font-weight: 600;
    font-size: 140%;
    margin: 1em 0 1em 0;
}
.featnews p{
    margin: 1em 0 1em 0;
    font-size: 90%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.featnews h3{
    font-weight: bold;
    margin: 1em 0 1em 0.5em;
    color: #0162a6;
}
.featnews {
	margin: 3em 0 3em 0;
}
.featnews i{
	margin-right: 0.5em;
    color: #2e2e2e;
}

/**** About Section ****/
.about-sec-01 {
	margin: 6em 0 3em 0;
}
.about-sec-01 h3{
	text-transform: uppercase;
    font-size: 150%;
    font-weight: bold;
}
.about-sec-01 h2{
    font-weight: bold;
    color: #0162a6;
}
.about-sec-02 h3{
	font-weight: bold;
    color: #0162a6;
}
.about-sec-04 {
    margin-top: 3em;
    margin-bottom: 5em;
    margin-right: 0;
}
.about-sec-04 h3{
    font-weight: bold;
    color: #0162a6;
}
.about-sec-03 {
    margin-top: 3em;
    border: 2px solid #000;
}
.partnership-sec {
	width: 60%;
    float: right;
    padding: 8em 0 8em 0;
}
.partnership-sec h2, .partnership-sec p{
	color: #fff;
}
.partnership-sec h2{
    font-weight: bold;
}
.bg-blue {
    background-color: #0162a6;
    overflow: auto;
}
.partnership-image-box>.row {
    padding: 1em;
}
div.row.about-sec-02{
    margin: 0;
}

/**** SERVICE AREA ****/
.service-sec-01 {
	margin: 5em 0 5em 0;
}
.service-sec-01 h3{
    font-weight: bold;
    color: #0162a6;
}
.service-lead {
	margin: 3em 0 3em 0;
}
.service-lead p{
	color: #000;
}
.service-area-desc {
	text-align: center;
}
.service-area-desc h3{
	font-weight:  bold;
    font-size: 130%;
}
.service-area-desc .text-lg {
	font-size: 150%;
} 
.service-area-desc > div{
	padding-bottom: 2em;
}

/*Contact tab*/

.contact{background: url(../../images/contact-info-bg.jpg);}
.contact-content .tab-content .tab-pane{padding: 15px;}
.contact-content .nav-tabs{border: none;text-transform: uppercase;font-weight: bold;}
.contact-content .nav-tabs>li>a{border: none;background-size: 0 2px;-webkit-transition: background-size ease .45s;transition: background-size ease .45s;color: #1a1a1a;}
.contact-content .nav-tabs>li.active>a,.contact-content .nav-tabs>li.active>a:focus,.contact-content .nav-tabs>li.active>a:hover{background: url(../../images/contact_actv_icon.gif) no-repeat 15px top;background-size: 25px 2px;position: relative;background-color: transparent;border: none;border-radius: 0;border: none;color: #0063a7;}
.contact-content .nav>li>a:focus, .nav>li>a:hover{background-color: transparent;background: url(../../images/contact_actv_icon.gif) no-repeat 15px top;background-size: 25px 2px;position: relative;background-color: transparent;border: none;border-radius: 0;border: none;color: #0063a7;}
.contact-content .txt-head{font-size: 31px;text-align: left;font-weight: bold;color: #242424;}
.contact-content .nav-tabs-custom {text-align: center;}
.contact-content .nav-tabs{display: inline-block;}

.focus{bottom: 45px!important;color: #4d9d45;}
.top0{top: 0;}
.txtBlue{margin-top: 15px;text-align: left;color: #0063a7;}
.txtL {text-align: left;}
.borderB{border-top: 1px solid #0063a7!important;}
.m0{margin: 0;}

.frm-contact .form-control{border: none;box-shadow: none;border-bottom: 1px solid #242424;border-radius: 0;margin-top: 38px;padding: 0;}
.frm-contact select:focus,.frm-contact .form-control:focus {border-color: transparent;outline: 0;-webkit-box-shadow: none;box-shadow: none;border-bottom: 1px solid #4d9d45;}
.frm-contact label{font-weight: normal;margin-right: 0;position: absolute;left: 15px;bottom: 20px;-webkit-transition: all ease .45s;transition: all ease .45s;}
.frm-contact select{width: 100%;border: none;border-bottom: 1px solid #242424;}

.hotline-list .row{margin-bottom: 10px;}
.hotline-list .col-md-12 p{color: #171717;text-align: left;}
.hotline-list .col-md-12 p:first-child{margin-bottom: 0;}
.hotline-list .col-md-12 p:last-child{font-size: 20px;font-weight: bold;margin-top: 0;}

#tab1 button{border: none;background: url(../../images/larrow_icon.gif) no-repeat center left;padding-left: 35px;font-size: 25px;}
#tab1 button:focus,#tab4 button:focus,.menu-button:focus{border-color: transparent;outline: 0;-webkit-box-shadow: none;box-shadow: none;}
#tab4 button{background: transparent;border: none;text-align: left;border-radius: 0;padding: 10px 20px;font-weight: bold;white-space: normal;}
#tab4 button:hover,.txtB{color: #0063a7!important;}
#tab4 .btn:after {font-family: "Glyphicons Halflings";content: "\e114";float: right;margin-left: 15px;}
#tab4 .btn.collapsed:after {content: "\e080";}

/*Faq's tab*/
.faq-list{padding: 0;}
.faq-list>li{list-style: none;border-top: 1px solid #242424;}
.faq-list .answer {padding-left: 40px;text-align: left;}
#faq1>ul{text-align: left;list-style: none;padding-left: 0;}

.contact-content .nav-tabs-custom {position: relative;}
.show-nav {display: block!important;opacity: 1!important;width: 230px!important;height: 245px!important;-webkit-animation: anim-jelly 0.8s linear forwards;animation: anim-jelly 0.8s linear forwards;}
.menu-button {display: none;position: fixed;bottom: 20px;left: 5px;z-index: 1000;padding: 0;width: 2.5em;height: 2.25em;border: none;font-size: 1.5em;color: #373a47;background: transparent;}

@media screen and (max-width: 673px) {
    .contact-content .menu-button {display: block;}
    .contact-content .nav-tabs>li {float: none;text-align: left;}
    .contact-content .nav.nav-tabs {position: fixed;display: none;opacity: 0;bottom: 28px;left: 9px;padding: 20px 0;width: 0;height: 0;z-index: 99;background: #ebedf4;-webkit-transition: width 0.3s, height 0.3s;transition: width 0.3s, height 0.3s;-webkit-transform-origin: 0% 100%;transform-origin: 0% 100%;}
}


/* Generated with Bounce.js. Edit at http://goo.gl/PJ93gs */

@-webkit-keyframes anim-jelly { 
    0% { -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    3.333333% { -webkit-transform: matrix3d(0.32778, 0, 0, 0, 0, 0.32778, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.32778, 0, 0, 0, 0, 0.32778, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    6.666667% { -webkit-transform: matrix3d(0.69875, 0, 0, 0, 0, 0.69875, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.69875, 0, 0, 0, 0, 0.69875, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    10% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    13.333333% { -webkit-transform: matrix3d(1.1815, 0, 0, 0, 0, 1.1815, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.1815, 0, 0, 0, 0, 1.1815, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    16.666667% { -webkit-transform: matrix3d(1.24402, 0, 0, 0, 0, 1.24402, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.24402, 0, 0, 0, 0, 1.24402, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    20% { -webkit-transform: matrix3d(1.21871, 0, 0, 0, 0, 1.21871, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.21871, 0, 0, 0, 0, 1.21871, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    23.333333% { -webkit-transform: matrix3d(1.14702, 0, 0, 0, 0, 1.14702, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.14702, 0, 0, 0, 0, 1.14702, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    26.666667% { -webkit-transform: matrix3d(1.06589, 0, 0, 0, 0, 1.06589, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.06589, 0, 0, 0, 0, 1.06589, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    30% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    33.333333% { -webkit-transform: matrix3d(0.9603, 0, 0, 0, 0, 0.9603, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.9603, 0, 0, 0, 0, 0.9603, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    36.666667% { -webkit-transform: matrix3d(0.94663, 0, 0, 0, 0, 0.94663, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.94663, 0, 0, 0, 0, 0.94663, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    40% { -webkit-transform: matrix3d(0.95217, 0, 0, 0, 0, 0.95217, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.95217, 0, 0, 0, 0, 0.95217, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    43.333333% { -webkit-transform: matrix3d(0.96784, 0, 0, 0, 0, 0.96784, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.96784, 0, 0, 0, 0, 0.96784, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    46.666667% { -webkit-transform: matrix3d(0.98559, 0, 0, 0, 0, 0.98559, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.98559, 0, 0, 0, 0, 0.98559, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    50% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    53.333333% { -webkit-transform: matrix3d(1.00868, 0, 0, 0, 0, 1.00868, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00868, 0, 0, 0, 0, 1.00868, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    56.666667% { -webkit-transform: matrix3d(1.01167, 0, 0, 0, 0, 1.01167, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.01167, 0, 0, 0, 0, 1.01167, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    60% { -webkit-transform: matrix3d(1.01046, 0, 0, 0, 0, 1.01046, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.01046, 0, 0, 0, 0, 1.01046, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    63.333333% { -webkit-transform: matrix3d(1.00703, 0, 0, 0, 0, 1.00703, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00703, 0, 0, 0, 0, 1.00703, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    66.666667% { -webkit-transform: matrix3d(1.00315, 0, 0, 0, 0, 1.00315, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00315, 0, 0, 0, 0, 1.00315, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    70% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    73.333333% { -webkit-transform: matrix3d(0.9981, 0, 0, 0, 0, 0.9981, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.9981, 0, 0, 0, 0, 0.9981, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    76.666667% { -webkit-transform: matrix3d(0.99745, 0, 0, 0, 0, 0.99745, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99745, 0, 0, 0, 0, 0.99745, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    80% { -webkit-transform: matrix3d(0.99771, 0, 0, 0, 0, 0.99771, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99771, 0, 0, 0, 0, 0.99771, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    83.333333% { -webkit-transform: matrix3d(0.99846, 0, 0, 0, 0, 0.99846, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99846, 0, 0, 0, 0, 0.99846, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    86.666667% { -webkit-transform: matrix3d(0.99931, 0, 0, 0, 0, 0.99931, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99931, 0, 0, 0, 0, 0.99931, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    90% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    93.333333% { -webkit-transform: matrix3d(1.00042, 0, 0, 0, 0, 1.00042, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00042, 0, 0, 0, 0, 1.00042, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    96.666667% { -webkit-transform: matrix3d(1.00056, 0, 0, 0, 0, 1.00056, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00056, 0, 0, 0, 0, 1.00056, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);} 
}

@keyframes anim-jelly { 
    0% { -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    3.333333% { -webkit-transform: matrix3d(0.32778, 0, 0, 0, 0, 0.32778, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.32778, 0, 0, 0, 0, 0.32778, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    6.666667% { -webkit-transform: matrix3d(0.69875, 0, 0, 0, 0, 0.69875, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.69875, 0, 0, 0, 0, 0.69875, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    10% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    13.333333% { -webkit-transform: matrix3d(1.1815, 0, 0, 0, 0, 1.1815, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.1815, 0, 0, 0, 0, 1.1815, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    16.666667% { -webkit-transform: matrix3d(1.24402, 0, 0, 0, 0, 1.24402, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.24402, 0, 0, 0, 0, 1.24402, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    20% { -webkit-transform: matrix3d(1.21871, 0, 0, 0, 0, 1.21871, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.21871, 0, 0, 0, 0, 1.21871, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    23.333333% { -webkit-transform: matrix3d(1.14702, 0, 0, 0, 0, 1.14702, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.14702, 0, 0, 0, 0, 1.14702, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    26.666667% { -webkit-transform: matrix3d(1.06589, 0, 0, 0, 0, 1.06589, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.06589, 0, 0, 0, 0, 1.06589, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    30% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    33.333333% { -webkit-transform: matrix3d(0.9603, 0, 0, 0, 0, 0.9603, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.9603, 0, 0, 0, 0, 0.9603, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    36.666667% { -webkit-transform: matrix3d(0.94663, 0, 0, 0, 0, 0.94663, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.94663, 0, 0, 0, 0, 0.94663, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    40% { -webkit-transform: matrix3d(0.95217, 0, 0, 0, 0, 0.95217, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.95217, 0, 0, 0, 0, 0.95217, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    43.333333% { -webkit-transform: matrix3d(0.96784, 0, 0, 0, 0, 0.96784, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.96784, 0, 0, 0, 0, 0.96784, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    46.666667% { -webkit-transform: matrix3d(0.98559, 0, 0, 0, 0, 0.98559, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.98559, 0, 0, 0, 0, 0.98559, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    50% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    53.333333% { -webkit-transform: matrix3d(1.00868, 0, 0, 0, 0, 1.00868, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00868, 0, 0, 0, 0, 1.00868, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    56.666667% { -webkit-transform: matrix3d(1.01167, 0, 0, 0, 0, 1.01167, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.01167, 0, 0, 0, 0, 1.01167, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    60% { -webkit-transform: matrix3d(1.01046, 0, 0, 0, 0, 1.01046, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.01046, 0, 0, 0, 0, 1.01046, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    63.333333% { -webkit-transform: matrix3d(1.00703, 0, 0, 0, 0, 1.00703, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00703, 0, 0, 0, 0, 1.00703, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    66.666667% { -webkit-transform: matrix3d(1.00315, 0, 0, 0, 0, 1.00315, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00315, 0, 0, 0, 0, 1.00315, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    70% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    73.333333% { -webkit-transform: matrix3d(0.9981, 0, 0, 0, 0, 0.9981, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.9981, 0, 0, 0, 0, 0.9981, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    76.666667% { -webkit-transform: matrix3d(0.99745, 0, 0, 0, 0, 0.99745, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99745, 0, 0, 0, 0, 0.99745, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    80% { -webkit-transform: matrix3d(0.99771, 0, 0, 0, 0, 0.99771, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99771, 0, 0, 0, 0, 0.99771, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    83.333333% { -webkit-transform: matrix3d(0.99846, 0, 0, 0, 0, 0.99846, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99846, 0, 0, 0, 0, 0.99846, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    86.666667% { -webkit-transform: matrix3d(0.99931, 0, 0, 0, 0, 0.99931, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99931, 0, 0, 0, 0, 0.99931, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    90% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    93.333333% { -webkit-transform: matrix3d(1.00042, 0, 0, 0, 0, 1.00042, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00042, 0, 0, 0, 0, 1.00042, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    96.666667% { -webkit-transform: matrix3d(1.00056, 0, 0, 0, 0, 1.00056, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00056, 0, 0, 0, 0, 1.00056, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);} 
}


/**** Products & Services ****/
.services-desc{
    text-align: center;
    margin: 30px 0 20px;
}


.services-desc p:first-child{
    margin-bottom: 0;
    line-height: 0.5em;
}

.services-desc h2{
    color:#0064a6;
    font-weight: bold;
    margin: 0 0 25px;;
}


.carousel {
    margin-top: 25px;
}

.carousel .carousel-section-main, .carousel .products-and-services {
    padding-left: 0px;
    padding-right: 0px;
    overflow: hidden;
    position: relative;
    outline: none;
}

.product-item-color-blue {
    color: #207dc2;
    border-color: #207dc2;
}

.carousel-section-main .prooduct-logo-main, .products-and-services .prooduct-logo-main {
    position: relative;
    color: #0072cc;
    float: left;
    border-radius: 50%;
    padding: 15px;
    box-shadow: inset 0 0 0 2px #0072cc;
    webkit-transition: all .15s ease-out;
    transition: all .15s ease-out;
    width: 75px;
    height: 75px;
    text-align: center;
    border: 2px solid #207dc2;
    box-shadow: inset 2px 3px 6px -1px rgba(0,0,0,0.3), 2px 3px 5px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 2px 3px 6px -1px rgba(0,0,0,0.3), 2px 3px 5px 0px rgba(0,0,0,0.3);
    text-shadow: 2px 2px 1px rgba(0,0,0,0.3);
    cursor: default!important;
}

.carousel-section-main .prooduct-logo-main:after, .products-and-services .prooduct-logo-main:after {
    content: '';
    position: absolute;
    top: 70px;
    left: 38px;
    height: 250%;
    width: 1px;
    background-color: rgba(0, 0, 0, .07);
}

table td[colspan="3"], table td[data-parent-id] {
    font-weight: bold;
}

.prooduct-logo-main {
    position: relative;
    float: none;
    border-radius: 50%;
    padding: 15px;
    box-shadow: inset 0 0 0 2px #0072cc;
    webkit-transition: all .15s ease-out;
    transition: all .15s ease-out;
    width: 45px;
    height: 45px;
    text-align: center;
    border: 2px solid ;
    box-shadow: inset 2px 3px 6px -1px rgba(0, 0, 0, 0.3), 2px 3px 5px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 2px 3px 6px -1px rgba(0, 0, 0, 0.3), 2px 3px 5px 0px rgba(0, 0, 0, 0.3);
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.latest-posts .prooduct-logo-main {
    position: relative;
    float: none;
    border-radius: 50% !important;
    padding: 0px !important;
    box-shadow: inset 0 0 0 2px #0072cc;
    webkit-transition: all .15s ease-out;
    transition: all .15s ease-out;
    width: 45px !important;
    height: 45px !important;
    text-align: center;
    border: 2px solid;
    box-shadow: inset 2px 3px 6px -1px rgba(0, 0, 0, 0.3), 2px 3px 5px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 2px 3px 6px -1px rgba(0, 0, 0, 0.3), 2px 3px 5px 0px rgba(0, 0, 0, 0.3);
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
}


.page-products-and-services-management .latest-posts_ul
{
    padding: 20px;
}

.page-products-and-services-management .latest-posts_info
{
    /*display: table;*/
    height: 20px;     
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.page-products-and-services-management .post-wrapper
{
    /*display: table;*/
    height: 40px;
    padding-right: 0px;
    padding-left: 15px;
    display: block;
    float: left;
    width: 73%;
    position: relative;

}

.page-products-and-services-management .latest-posts_info span
{
    display: table-cell;
    vertical-align: middle;
    word-break: break-all;
    text-align: initial;
}

.page-products-and-services-management .latest-posts_info a
{
    max-width: 100%;
}
.latest-posts ul li
{
    list-style: none;
}

.latest-posts .prooduct-logo-main i {
    font-size: 25px !important;
    line-height: 44px !important;
}

.page-admin-content-products-and-services-management .prooduct-logo-main i
{
    font-size: 45px !important;
}

/*font size for managed and services icon*/
.page-admin-content-products-and-services-management .prooduct-logo-main i.icon-managed-services-icon {
    font-size: 34px !important;
    line-height: 48px !important;
}

.carousel-section-main .prooduct-logo-main i, .products-and-services .prooduct-logo-main i {
    font-size: 40px;
    line-height: 44px;
}

.icon {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-internet-icon:before {
    content: "\e903";
}

.icon-data-icon:before {
    content: "\e900";
}

.icon-voice-icon:before {
    content: "\e905";
}

.icon-managed-services-icon:before {
    content: "\e904";
}
.carousel-section-main .product-title-main, .products-and-services .product-title-main {
    float: left;
    width: 64%;
    margin-left: 17px;
}

.carousel-section-main .product-title-main h2, .products-and-services .product-title-main h2 {
    color: #0072cc;
    font-family: 'GandhiSans Regular';
    font-weight: bold;
    font-size: 33px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.3);
}

.product-item-color-blue .features-and-benefits .product-list span, .product-item-color-blue .product-title-main .product-desc {
    color: #000;
}

.carousel-section-main .features-and-benefits, .products-and-services .features-and-benefits {
    padding-top: 25px;
    overflow: hidden;
    clear: both;
}

.features-and-benefits .product-list {
    padding-left: 102px;
    display: block;
    text-decoration: none;
}

.features-and-benefits .product-list {
    position: relative;
}

.features-and-benefits .product-list:before {
    content: '';
    width: 5px;
    height: 5px;
    position: absolute;
    left: 38px;
    top: 9px;
    border-radius: 50%;
    display: block;
    background-color: #fff;
    box-shadow: 0 0 0 1.5px #808080;
    -webkit-transition: all .15s;
    transition: all .15s;
}

.features-and-benefits .product-list a {
    color: #000;
    text-decoration: underline;
}

.carousel-section-main .product-readmore, .products-and-services .product-readmore {
    margin: 30px auto;
}

a.animated-button.thar-three {
    cursor: pointer;
    display: block;
    position: relative;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

.carousel-section-main .product-readmore a, .products-and-services .product-readmore a {
    text-decoration: none;
    padding: 10px 15px;
    color: #0072cc;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
    font-family: corbel;
    font-style: normal;
    font-size: 14px;
    text-align: right;
}

/*Carousel Changing color start*/


/*Color Blue start*/
.product-item-color-blue {
    color: #207dc2;
    border-color:#207dc2;
}

.products-and-services:hover.product-item-color-blue .prooduct-logo-main {
    box-shadow: inset 0 0 0 100% #207dc2;
    background-color:#207dc2;
    color: #fff;
}

.product-item-color-blue a.animated-button.thar-three:hover {
    color: #fff ;
}

.product-item-color-blue a.animated-button.thar-three:before {
    color: #000 ;
    background: #207dc2;
}
.product-item-color-blue .features-and-benefits .product-list span,
.product-item-color-blue .product-title-main .product-desc {
    color:#000;
}

.animated-button span{
    padding-right: 5px;
}

/*Color Blue End*/


/*Color Yellow Green Start*/

.product-item-color-yellow-green .prooduct-logo-main {
    color: #d4df4d;
    border-color: #d4df4d;
}

.product-item-color-yellow-green .product-title-main h2 {
    color: #d4df4d;
}

.products-and-services:hover.product-item-color-yellow-green .prooduct-logo-main {
    box-shadow: inset 0 0 0 40px #d4df4d;
    background-color:#d4df4d;
    color: #fff;
}

.product-item-color-yellow-green a.animated-button.thar-three:hover {
    color: #fff ;
}

.product-item-color-yellow-green a.animated-button.thar-three:before {
    color: #000 ;
    background: #d4df4d;
}

.product-item-color-yellow-green .features-and-benefits .product-list:hover:before {
    box-shadow: 0 0 0 2.2px #d4df4d;
}


/*Color Yellow Green End*/


/*Color Violet Start*/

.product-item-color-violet .prooduct-logo-main {
    color: #6b378d;
    border-color: #6b378d;
}

.product-item-color-violet .product-title-main h2 {
    color: #6b378d;
}

.products-and-services:hover.product-item-color-violet .prooduct-logo-main {
    box-shadow: inset 0 0 0 40px #6b378d;
    background-color:#6b378d;
    color: #fff;
}

.product-item-color-violet a.animated-button.thar-three:hover {
    color: #fff ;
}

.product-item-color-violet a.animated-button.thar-three:before {
    color: #000 ;
    background: #6b378d;
}

.product-item-color-violet .features-and-benefits .product-list:hover:before {
    box-shadow: 0 0 0 2.2px #6b378d;
}


/*Color Violet End*/


/*Color Orange Start*/

.product-item-color-orange .prooduct-logo-main {
    color: #f2902a;
    border-color: #f2902a;
}

.product-item-color-orange .product-title-main h2 {
    color: #f2902a;
}

.products-and-services:hover.product-item-color-orange .prooduct-logo-main {
    box-shadow: inset 0 0 0 40px #f2902a;
    background-color:#f2902a;
    color: #fff;
}

.product-item-color-orange a.animated-button.thar-three:hover {
    color: #fff ;
}

.product-item-color-orange a.animated-button.thar-three:before {
    color: #000 ;
    background: #f2902a;
}


.product-item-color-orange .features-and-benefits .product-list:hover:before {
    box-shadow: 0 0 0 2.2px #f2902a;
}


/*Color Orange End*/


/*Carousel Changing color end*/

/*lhoraine*/
.about h2 {color:#000;font-weight: 700;font-size: 23px;position: relative;padding: 0 0 15px;text-transform:capitalize;}
.about-partners {overflow: hidden;}
.about-partners div {text-align:center;}
.about-partners div img {max-height: 150px; width:auto; max-width:100%; margin:auto;padding: 10px; vertical-align:middle;}
.about-partners div.about-partners-img {height: 150px; min-height: 150px;}
.about-partners div span.helper-image-center {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

/**Careers**/
.accordian-heading{
    padding: 6px 12px;
}

.accordian-heading li{
    display: inline;
    color: #9f9f9f;
}

.accordian-heading li:first-child{
    text-align: left;
    display: inline-block;
    width:40%;
    margin-right: 80px;
}


.accordian-heading li:last-child{
    display: inline-block;
    text-align: left;
    width: 40%;
}

.career-filter{
    margin-top: 50px;
}
.select-filter{
    width:80%;
}
.tab-pane{
    margin-bottom: 150px;
}
.accordion {
    padding: 0;
}
.accordion>li {
    list-style: none;
    border-top: 1px solid #0086e2;
    padding: 12px 0 5px;
}

.accordion>li:first-child {
    border:none;
}

.accordion>li:last-child {
    border-bottom: 1px solid #0086e2;
}

#career-tab button{
    background: transparent;
    border: none;
    text-align: left;
    border-radius: 0;
    white-space: normal;
}


#career-tab h3{
    font-size: 18px;
    color: #0063a7;
    font-weight: bold;
    margin: 0;
    text-align: left;
    display: inline-block;
    width:40%;
    margin-right: 80px;
}

#career-tab span{
    display: inline-block;
    text-align: left;
    width: 40%;
    color: #1c1c1c;
    font-weight: bold;
}


#career-tab .btn.collapsed:after{
    content: "\e080";
}
#career-tab .btn:after{
    font-family: "Glyphicons Halflings";
    content: "\e114";
    float: right;
    margin-right: 15px;
    color: #0086e2;
}
#career-tab button:hover{
    color: #0063a7!important;
}

.career-tab-desc01, .career-tab-desc02{
    width: 49%;
    font-size: 12px;
    display: inline-block;
    margin-top: 10px;
}

.career-tab-desc01 p, .career-tab-desc02 p{
    font-weight: bold;
}


@media screen and (max-width: 713px) {
    #career-tab h3 {
        font-size: 12px;
        margin-right: 50px;
    }
    #career-tab span {
        font-size: 12px;
    }
    .accordian-heading li:first-child{
        margin-right: 50px;
    }
}

@media screen and (max-width: 463px) {
    #career-tab h3 {
        font-size: 12px;
        margin-right: 50px;
    }
    #career-tab span {
        font-size: 12px;
    }
    .accordian-heading li:first-child{
        margin-right: 50px;
    }
}

